/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */

/**
   * Remove the margin in all browsers.
   */

body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */

main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */

/**
   * Remove the gray background on active links in IE 10.
   */

a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
  border-style: none;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
  display: list-item;
}

/* Misc
     ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
  display: none;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Raleway Light";
  src: url("../fonts/Raleway-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  background-color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  color: #86878b;
}
* {
  box-sizing: border-box;
}

main.content {
  display: flex;
  flex: 1 1 auto;
  overflow-x: hidden;
  z-index: 1;
  flex-direction: column;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

section .container {
  padding-top: 110px;
  padding-bottom: 110px;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  text-align: center;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s,
    border-color 0.3s ease 0s;
  min-height: 42px;
  background-color: #ff8b38;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans Semibold";
  border: none;
}
.btn:hover {
  background-color: #fa7312;
}
.btn_light {
  background-color: transparent;
  border: 2px solid #fff;
}
.btn_light:hover {
  color: #fdc39a;
  background-color: transparent;
  border-color: #fdc39a;
}
.title-big {
  font-family: "Raleway";
  font-size: 36px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 40px;
  text-align: center;
  color: #212121;
}
.title-big::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 2px;
  background: #ff8b38;
  bottom: 0;
  left: calc(50% - 32px);
}
.title-big_light {
  color: #fff;
}
.title-big_light::after {
  background: #fff;
}
.title-big_variant-accent {
  text-align: left;
}
.title-big_variant-accent::after {
  left: 0;
}
.title-small {
  font-family: "Open Sans Bold";
  font-size: 20px;
  line-height: 20px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 10px;
}
.title-small_accent {
  padding-bottom: 20px;
  position: relative;
}
.title-small_accent::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 2px;
  background: #ff8b38;
  bottom: 0;
  left: 0;
}
.input {
  min-height: 32px;
  width: 100%;
  padding: 10px 14px;
  border: none;
  outline: none;
  border-bottom: 1px solid #d6d6d6;
}

/* ------MY STYLES------- */

.header {
  background: #000;
}
.header__container {
  min-height: 70px;
  display: flex;
  align-items: center;
}

.header__logo {
}
.logo {
}
.logo__img {
  height: 27px;
}

.header__menu {
  margin-left: auto;
}
.menu {
}
.menu__list {
  display: flex;
}
.menu__item {
  margin-right: 49px;
}
.menu__item:hover .menu__link {
  color: #ff8b38;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: color 0.3s ease 0s;
}

.getstarted {
  /* background-color: #9a9a9a; */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(37, 36, 36, 0.8),
      rgba(129, 127, 127, 0.3)
    ),
    url("https://picsum.photos/1400/660");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.getstarted__container {
  padding-top: 110px;
  padding-bottom: 120px;
  display: flex;
}
.getstarted__left {
  width: calc(100% - 360px);
  padding-right: 200px;
}
.info {
}
.info__logo {
  height: 60px;
  width: 175px;
}
.info__title {
  font-family: "Raleway";
  font-size: 36px;
}
.info__text {
  font-size: 16px;
  font-family: "Raleway Light";
  line-height: 23px;
  margin-top: 40px;
}
.info__button {
  margin-top: 43px;
}

.getstarted__right {
  width: 360px;
  flex: 0 0 360px;
  border-radius: 2px;
  overflow: hidden;
  align-self: flex-start;
}
.trial {
}
.trial__title {
  background: #bdbdbd;
  padding: 15px;
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 20px;
  color: #333;
  text-align: center;
}
.trial__span-other-color {
  color: #ff8b38;
  text-transform: uppercase;
}
.trial__form {
  background: #fff;
  width: 100%;
  padding: 30px 38px 70px;
  position: relative;
}
.trial__input {
  margin-bottom: 35px;
}
.trial__button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 55px;
}

.socialmedia {
}
.socialmedia__container.container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.socialmedia__left {
  min-width: 240px;
  flex: 1 1 30%;
}
.socialmedia__title {
}

.socialmedia__text {
}
.socialmedia__right {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 70%;
  justify-content: flex-end;
}
.socials__item {
  display: inline-flex;
  font-size: 0;
  margin-left: 40px;
  padding: 10px;
  transition: box-shadow 0.3s ease 0s;
  border-radius: 50%;
}
.socials__item.socials__item:first-child {
  margin-left: 0;
}
.socials__item:hover {
  box-shadow: 0px 0px 15px 10px rgb(226, 226, 226);
}
.socials__img-icon {
  width: 42px;
}
.socials_alternative .socials__img-icon {
  width: 20px;
}
.socials_alternative .socials__item {
  margin-left: 12px;
  padding: 10px;
}
.socials__item:hover {
  box-shadow: 0px 0px 15px 3px rgb(112, 112, 112);
}
.socials__item_fb {
}
.socials__item_tw {
}
.socials__item_g {
}
.socials__item_pn {
}
.socials__item_ig {
}
.socials__item_su {
}
.socials__item_rss {
}

.tabs {
  background: #f5f5f5;
}
.tabs__container {
  display: flex;
  background-image: url("../img/buildings.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 30%;
  /* cover center  no-repeat; */
}
.tabs__show {
  width: 210px;
  flex: 0 0 210px;
}
.tabs__cubes {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  border-radius: 3px;
  overflow: hidden;
  width: 110px;
}
.tabs__cube {
  width: 110px;
  height: 110px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans Bold";
  background-color: #333333;
}
.tabs__cube:hover {
  background-color: #ff8b38;
  cursor: pointer;
}
[data-tab-cube="true"] {
  transition: background-color 0.1s ease-in 0s;
}
[data-tab-cube="true"].active {
  background-color: #ff8b38;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.tabs__info {
  width: 480px;
  flex: 0 0 480px;
}
.tabs__info-list {
  padding: 0;
  margin: 0;
  position: relative;
}
.tabs__info-item {
  position: absolute;
  top: 0;
  left: 0;
}
[data-tab-slide="true"] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
[data-tab-slide="true"].active {
  visibility: visible;
  opacity: 1;
}
.tabs__text {
  margin-top: 50px;
}
.tabs__text p {
  font-size: 14px;
  line-height: 20px;
}
.tabs__button {
  margin-top: 50px;
}

.list {
}
.list__container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.list__img {
  max-width: 453px;
  width: 82%;
  max-height: 304px;
  min-height: 250px;
  height: 84%;
  box-shadow: 0 27px 13px rgba(0, 0, 0, 0.57);
  grid-row: span 3;
  align-self: center;
}
.list__title {
}
.list__text {
  margin-top: 25px;
  line-height: 20px;
}
.list__sublist {
  margin-top: 45px;
}
.sublist {
}
.sublist__list {
  padding-left: 72px;
}
.sublist__item {
  position: relative;
  min-height: 50px;
  margin-bottom: 40px;
}
.sublist__item:last-child {
  margin-bottom: o;
}
.sublist__item::after {
  content: url("../icons/download.svg");
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 0;
  left: -72px;
  border-radius: 50%;
  border: 2px solid #ff8b38;
}
.sublist__item_transform::after {
  transform: rotate(180deg);
}
.sublist__title {
  font-family: "Open Sans Semibold";
  color: #212121;
}
.sublist__text {
  line-height: 20px;
}

.picture {
  background: #f5f5f5;
}
.picture__container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr;
  grid-auto-flow: column;
}
.picture__title {
}
.picture__text {
  line-height: 20px;
}
.picture__text p {
  margin-bottom: 20px;
}
.picture__img {
  max-width: 453px;
  width: 82%;
  max-height: 304px;
  min-height: 250px;
  height: 84%;
  box-shadow: 0 27px 13px rgba(0, 0, 0, 0.57);
  grid-row: span 2;
  align-self: center;
  justify-self: end;
}

.awesome__container {
}
.awesome__title {
}
.awesome__shorttext {
  text-align: center;
}
.awesome__list {
  margin-top: 70px;
}
.advantages {
  display: flex;
  column-gap: 30px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__icon {
  font-size: 35px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #ff8b38;
}
.advantages__icon i {
  color: #ff8b38;
}
.advantages__title {
  color: #333;
  font-size: 20px;
  line-height: 24px;
  margin-top: 25px;
}
.advantages__text {
  text-align: center;
  margin-top: 25px;
}

.pricing {
  background: #f5f5f5;
}
.pricing__title {
}
.pricing__shorttext {
  font-size: 14px;
  line-height: 20px;
  color: #86878b;
  font-family: "Open Sans";
  text-align: center;
}
.pricing__list {
  margin-top: 25px;
}
.prices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.prices__info {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.prices__item {
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans";
  text-align: center;
}
.prices__name {
  font-size: 20px;
  line-height: 24px;
  min-height: 60px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
  background-color: #333;
}
.prices__price {
  background-color: #333;
  font-size: 94px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Raleway";
  padding: 30px 5px;
}
.prices__period {
  background-color: #333;
  font-size: 14px;
  color: #999999;
  font-weight: 600;
  font-family: "Open Sans";
  font-style: italic;
  padding-bottom: 20px;
}
.prices__bucks {
  font-size: 35px;
}
.prices__label {
  background: #ff8b38;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prices__label_disabled {
  height: 5px;
  min-height: unset;
  font-size: 0;
}
.prices__include {
}
.include {
  background: #fff;
}
.include__list {
  margin: 0;
  padding: 0;
}
.include__item {
  font-size: 14px;
  line-height: 24px;
  color: #86878b;
  text-transform: uppercase;
  padding: 7px 0 8px;
}
.include__item:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}

.whatsaying__container {
}
.whatsaying__title {
}
.whatsaying__shorttext {
  text-align: center;
}
.whatsaying__list {
  margin-top: 50px;
}
.reviews {
  display: flex;
  column-gap: 120px;
}
.reviews__item {
}
.reviews__text {
  font-size: 14px;
  color: #86878b;
  font-weight: 400;
  font-family: "Open Sans";
  font-style: italic;
  background: #f5f5f5;
  border-radius: 3px;
  padding: 20px 8px;
  margin: 0;
  margin-bottom: 15px;
  position: relative;
}
.reviews__text::after {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-top: 15px solid #f5f5f5;
  bottom: -30px;
  left: 7%;
}
.reviews__customer {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 85px auto;
  grid-template-row: 35px auto;
}
.reviews__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  grid-row: span 2;
}
.reviews__name {
  font-size: 20px;
  line-height: 20px;
  color: #333333;
  font-weight: 700;
  font-family: "Open Sans";
  align-self: end;
}
.reviews__position {
  margin-top: 10px;
}

.design {
  background-image: url("https://source.unsplash.com/random/1920x1080");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.design__container.container {
  padding-top: 70px;
  padding-bottom: 60px;
}
.design__title {
}
.design__shorttext {
  text-align: center;
  color: #fff;
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Raleway";
  margin-top: 25px;
}
.design__button {
  margin: 30px auto 0;
}

.contact__container {
}
.contact__title {
}
.contact__shorttext {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #86878b;
}
.contact__form {
  margin-top: 40px;
}
.form-contacts {
}
.form-contacts__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}
.form-contacts__group {
}
.form-contacts__input {
  padding-top: 30px;
}
.form-contacts__button {
  grid-column: span 2;
  justify-self: center;
  margin-top: 40px;
}
.form-contacts__textarea {
  padding-top: 30px;
  resize: none;
}

.footer {
  background: #000;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__copyright {
  margin-top: 12px;
  text-align: center;
}
